*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FDEFD2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
body img{
    padding-bottom: 20px;
}
.nav-bar{
    padding-left: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #ccc;
    background-color: #F58A97;

}
.logo{
    font-size: 32px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
li{
    display: inline;
    padding: 20px;
    font-weight: bold;
    font-size: 14px;
}
.contents{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contents img{
    padding: 15px;
    
}
.active{
    color: gray;
    border-bottom: 1px solid gray;
}


@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .contents img{
        width: 90%;
        height: 90%;
    }
    
    .nav-bar{
        height: 110px;
    }
    .logo{
        width: 20%;
        font-size: 20px;
    }
    ul{
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 5px;
        align-items: center;
        justify-content: center;
    }
    li{
        padding-left: 5px;
    }

    
}